<%= simple_form_for @proprietary do |f| %>
<% if @proprietary.errors.any? %>
  <div id="error_explanation">
  	<h2><%= pluralize(@proprietary.errors.count, "error")%> prohibited this proprietary for being saved:</h2>
	<ul>
      <% @proprietary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="field_proprietary">
<div class="field">
	<b><%= f.input :nuit, :as => :integer, :required => false %></b>
	<%= f.input :name, :required => false %>
	<%= f.input :birth_day,:as => :date, :order => [:day, :month ,:year] %>
	<%= f.input :occupation %>
	<%= f.input :address, :as => :text, :required => false %>

	<%= f.simple_fields_for :contacts do |contact| %>
		<%= render 'contact_fields', :f => contact %>
	<% end %>

	<div class="nav"><%= link_to_add_association "Add Contact", f, :contacts %></div>
</div>
</div>
 <hr/>
 <div class="actions">
    <%= f.submit "Add Proprietary" %>
  </div>
<% end %>
