<div class="proprietary">
<%= simple_form_for @proprietary do |f| %>
<% if @proprietary.errors.any? %>
  <div id="error_explanation">
  	<h2><%= pluralize(@proprietary.errors.count, "error")%> prohibited this proprietary for being saved:</h2>
	<ul>
      <% @proprietary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<ul>
  <li class="nuit"><%= f.input :nuit %></li>
  <li><%= f.input :name %></li>
  <li><%= f.input :birth_day, :order => [:day, :month ,:year] %></li>
  <li><%= f.input :occupation %></li>
  <li class="area"><%= f.input :address, :required => false %></li>

  <%= f.fields_for :contacts do |c| %>
  	<% render 'contact_fields', :f => c %>
  <% end %>
</ul>
 <%= link_to_add_fields "Add contacts", f, :contacts %>
 <hr/>
 <div class="actions">
    <%= f.submit "Add Proprietary" %>
  </div>
<% end %>
</div>