<div class="proprietary">
<%=field_set_tag do %>
<%= form_for (@proprietary, :remote => true) do |f| %>
<% if @proprietary.errors.any? %>
  <div id="error_explanation">
  	<h2><%= pluralize(@proprietary.errors.count, "error")%> prohibited this proprietary for being saved:</h2>
	<ul>
      <% @proprietary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<%end%>

 <div class="field">
   <%= f.label :nuit %>
   <%= f.text_field :nuit %>
 </div>
 <div class="field">
   <%= f.label :name %>
   <%= f.text_field :name %>
 </div>
 <div class="field">
   <%= f.label :birth_day %>
   <%= f.date_select :birth_day, :order => [:day, :month ,:year] %>
 </div>
 <div class="field">
   <%= f.label :occupation %>
   <%= f.text_field :occupation %>
 </div>
 <div class="field">
   <%= f.label :address %>
   <%= f.text_area :address %>
 </div>
 <hr/>
 <div class="actions">
    <%= f.submit "Add Proprietary" %>
  </div>
<% end %>
<% end %>
</div>