<table>
	<tr>
		<th>Nuit</th>
		<th>Name</th>
		<th>Birth Day</th>
		<th>Occupation</th>
		<th>Created At</th>
	</tr>

  <% @proprietaries.each do |proprietary| %>
    <tr>
		<td onclick="location.href='<%=h proprietary_path(proprietary)%>'"><%= proprietary.nuit %></td>
		<td><%= proprietary.name %></td>
		<td><%= proprietary.birth_day %></td>
		<td><%= proprietary.occupation %></td>
		<td><%= proprietary.created_at.to_formatted_s(:short) %></td>
	</tr>
  <% end %>	
</table>
