<table>
	<tr>
		<th><%= t(:nuit, :scope => "proprietaries.index") %></th>
		<th><%= t(:name, :scope => "proprietaries.index") %></th>
		<th><%= t(:birth_day, :scope => "proprietaries.index") %></th>
		<th><%= t(:occupation, :scope => "proprietaries.index") %></th>
		<th><%= t(:created_at, :scope => "proprietaries") %></th>
	</tr>

  <% @proprietaries.each do |proprietary| %>
    <tr>
		<td onclick="location.href='<%=h proprietary_path(proprietary)%>'"><%= proprietary.nuit %></td>
		<td><%= proprietary.name %></td>
		<td><%= proprietary.birth_day %></td>
		<td><%= proprietary.occupation %></td>
		<td><%= proprietary.created_at.to_formatted_s(:short) %></td>
	</tr>
  <% end %>	
</table>
