<h1>Listing proprietaries</h1>
<table>
	<tr>
		<th>Nuit</th>
		<th>Name</th>
		<th>Birth Day</th>
		<th>Occupation</th>
		<th>Address</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

  <% @proprietaries.each do |proprietary| %>
    <tr>
		<td><%= proprietary.nuit %></td>
		<td><%= proprietary.name %></td>
		<td><%= proprietary.birth_day %></td>
		<td><%= proprietary.occupation %></td>
		<td><%= proprietary.address %></td>
		<td><%= link_to "Show", proprietary_path(proprietary) %></td>
		<td><%= link_to "Edit", proprietary_path(proprietary) %></td>
		<td><%= link_to "Delete", proprietary, :confirm => "Are sure", :method => :delete  %></td>
	</tr>
  <% end %>	
</table>

<%= link_to "New Proprietary", new_proprietary_path %>