<tr id="book_<%= book.id %>">
 	<td><%= book.proprietary.name %></td>
	<td><%= book.vehicle.nr_plate %></td>
	<td><%= book.register_name %></td>
	<td><%= book.register_number %></td>
	<td><%= link_to 'Show', book, :remote => true %></td>
	<td><%= link_to 'Edit', edit_book_path(book), :remote => true %></td>
	<td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
</tr>