<div class="field">
	<%= f.label :phone %>
	<%= f.text_field :country_code, :size => 3 %>
	<%= f.text_field :prefix_code, :size => 3 %>
	<%= f.text_field :number, :size => 12 %>
	<%= link_to_remove_fields "remove", f %>
</div>