<div class="procReg">
<%= simple_form_for(@process_register) do |f| %>
  <% if @process_register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_register.errors.count, "error") %> prohibited this process_register from being saved:</h2>

      <ul>
      <% @process_register.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
	<%= f.association :proprietary %>
  </div>
  <div class="field">
	<%= f.fields_for :proprietary do |p| %>
		<%= render 'proprietary', :f => p %>
	<% end %>
  </div>
  <div class="lnk"><%= link_to_add_association "+", f, :proprietary %></div>
  <div class="field">
	<%= f.label :vehicle_id %>
	<%= f.select :vehicle_id, "data-pre" => @process_register.vehicle.to_a.map(&:attributes).to_json %>
  </div>
  <div class="field">
	<%= f.fields_for :vehicle do |v| %>
		<%= render 'vehicle_fields', :f => v %>
	<% end %>
  </div>
  <div class="lnk1"><%= link_to_add_association "+", f, :vehicle %></div>
  <div class="field">
    <%= f.label :register_type %>
    <%= f.select :register_type, ProcessRegister::REGISTERTYPE, :prompt => "Select..." %>
  </div>
  <div class="field">
    <%= f.label :process_status %>
    <%= f.select :process_status, ProcessRegister::STATUS, :prompt => "Select..." %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="field2">
    <%= f.label :documents %>
    <%= f.text_field :documents %>
  </div>
  <div class="field">
	<%= f.fields_for :sale_register do |sr| %>
		<%= render 'sale_register_fields', :f => sr %>
	<% end %>
  </div>
    <div class="st"><%= link_to_add_fields "Add Sale Register", f, :sale_register %></div>
  <hr/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>