<div class="procReg">
<%= simple_form_for(@process_register) do |f| %>
  <% if @process_register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_register.errors.count, "error") %> prohibited this process_register from being saved:</h2>

      <ul>
      <% @process_register.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
	<%= f.simple_fields_for :proprietary do |p| %>
		<%= render 'proprietary', :f => p %>
	<% end %>
  </div>
   <div class="field_proprietary">
	<%= f.label :proprietary_id %>
	<%= f.text_field :proprietary_id, "data-pre" => @process_register.proprietary.to_a.map(&:attributes).to_json %>
  	<span class="lnk"><%= link_to_add_association "+", f, :proprietary %></span>
  	</div>
  <div class="field">
	<%= f.fields_for :vehicle do |v| %>
		<%= render 'vehicle_fields', :f => v %>
	<% end %>
  </div>
 <div class="field">
	<%= f.label :vehicle_id %>
	<%= f.text_field :vehicle_id, "data-pre" => @process_register.vehicle.to_a.map(&:attributes).to_json %>
	<div class="lnk"><%= link_to_add_association "+", f, :vehicle %></div>
  </div>
  <div class="field">
    <%= f.input :register_type, :collection => ProcessRegister::REGISTERTYPE, :prompt => "Select..." %>
  </div>
  <div class="field">
    <%= f.input :process_status, :collection => ProcessRegister::STATUS, :prompt => "Select..." %>
  </div>
  <div class="field">
    <%= f.input :notes, :as => :text %>
  </div>
  <div class="field2">
    <%= f.input :documents %>
  </div>
  <div class="field">
	<%= f.fields_for :sale_register do |sr| %>
		<%= render 'sale_register_fields', :f => sr %>
	<% end %>
  </div>
    <div class="st"><%= link_to_add_fields "Add Sale Register", f, :sale_register %></div>
  <hr/>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>