<div class="field">
   <%= f.label :nuit %>
   <%= f.text_field :nuit %>
 </div>
 <div class="field">
   <%= f.label :name %>
   <%= f.text_field :name %>
 </div>
 <div class="field">
   <%= f.label :birth_day %>
   <%= f.date_select :birth_day, :order => [:day, :month ,:year] %>
 </div>
 <div class="field">
   <%= f.label :occupation %>
   <%= f.text_field :occupation %>
 </div>
 <div class="field">
   <%= f.label :address %>
   <%= f.text_area :address %>
 </div>
 <div class="field">
	<%= f.fields_for :contacts do |c| %>
		<% render 'contact_fields', :f => c %>
	<% end %>
 </div>
 <%= link_to_add_fields "Add contacts", f, :contacts %>