
<div class="proprietary">
	<%= field_set_tag 'Proprietary' do %>
<ul>
  <li class="nuit"><%= f.input :nuit %></li>
  <li><%= f.input :name %></li>
  <li><%= f.input :birth_day, :order => [:day, :month ,:year] %></li>
  <li><%= f.input :occupation %></li>
  <li class="area"><%= f.input :address, :required => false %></li>

  <%= f.fields_for :contacts do |c| %>
  	<% render 'contact_fields', :f => c %>
  <% end %>
</ul>
 <%= link_to_add_fields "Add contacts", f, :contacts %>
<% end %>
</div>