<div class="field">
  <%= f.input :nuit, :required => true, :as => :integer %>
  <%= f.input :name %>
  <%= f.input :birth_day,:as => :date, :order => [:day, :month ,:year] %>
  <%= f.input :occupation %>
  <%= f.input :address, :as => :text %>
 
  <%= f.fields_for :contacts do |contact| %>
  	<%= render 'contact_fields', :f => contact %>
  <% end %>
 
  <%= link_to_add_association "Add Contact", f, :contacts %>
</div>