<div class="field">
	<b><%= f.input :nuit, :as => :integer, :required => false %></b>
	<%= f.input :name, :required => false %>
	<%= f.input :birth_day,:as => :date, :order => [:day, :month ,:year] %>
	<%= f.input :occupation %>
	<%= f.input :address, :as => :text, :required => false %>

	<div class='nav'><%= link_to_remove_fields "Remove", f %></div> </br>
	
	<%= f.simple_fields_for :contacts do |contact| %>
		<%= render 'contact_fields', :f => contact %>
	<% end %>
	
	<div class="nav"><%= link_to_add_association "Add Contact", f, :contacts %></div>
</div>