<h1>Listing process_registers</h1>

<div class="nav"><%= link_to 'New Process', new_process_register_path %></div></br>
<%= form_tag process_registers_path, :method => 'get', :id => "process_search" do %>
  <%= text_field_tag :search, params[:search], :placeholder => "Buscar", :maxlenght =>3 %>
<% end %>
<% unless @process_registers.empty? %>
<div id="process"><%= render 'process_registers' %></div>
<% end %>

<div class='paginate'><%= will_paginate @expenses %></div>