<p id="notice"><%= notice %></p>

<div class="process_register_layout">
	<p class='id'>
	  <b>Process Id:</b>
	  <%= @process_register.id %>
	</p>
	<div class='details'>	
		<p>
		  <b>Nuit and Name:</b>
		 <label><%= @process_register.proprietary.nuit %></label> - 
		 <label><%= @process_register.proprietary.name %></label>
		</p>
		<p>
		  <b>Vehicle number plate:</b>
		  <label><%= @process_register.vehicle.name %></label>
		</p>

		<p>
		  <b>Register type:</b>
		  <label><%= @process_register.register_type %></label>
		</p>

		<p>
		  <b>Process status:</b>
		  <label><%= @process_register.process_status %></label>
		</p>

		<p>
		  <b>Documents:</b>
		  <label><%= @process_register.documents %></label>
		</p>
		
		<p>
		  <b>Created date:</b>
		  <label><%= @process_register.created_at%></label>
		</p>
		<p>
		  <b>Notes:</b>
		  <label><%= @process_register.notes %></label>
		</p>
		
	</div>
</div>

<div class="edit_menu">
	<ul>
		<% if can? :edit, @process_register %>
		 <li><%= link_to 'Edit', edit_process_register_path(@process_register)%></li> 
		<% end %>
		<li><%= link_to 'Back', process_registers_path %></li>
		<li><%= link_to 'Título', process_register_path(@process_register, :format => "pdf")%></li>
		<% if can? :update, @process_register %>
		 <li><%= link_to "Entregar",  :controller => :process_registers, :action => :delivery_status %></li>
		<% end %>
	</ul>
</div>


