<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hypothec.name %>
</p>

<p>
  <b>Proprietary:</b>
  <%= @hypothec.proprietary %>
</p>

<p>
  <b>Applicant:</b>
  <%= @hypothec.applicant %>
</p>

<p>
  <b>Contract document:</b>
  <%= @hypothec.contract_document %>
</p>

<p>
  <b>Value:</b>
  <%= @hypothec.value %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @hypothec.vehicle %>
</p>

<p>
  <b>Outsanding:</b>
  <%= @hypothec.outsanding %>
</p>

<p>
  <b>Dept origin:</b>
  <%= @hypothec.dept_origin %>
</p>

<p>
  <b>Interest rate:</b>
  <%= @hypothec.interest_rate %>
</p>

<p>
  <b>Notes:</b>
  <%= @hypothec.notes %>
</p>

<p>
  <b>Status:</b>
  <%= @hypothec.status %>
</p>


<%= link_to 'Edit', edit_hypothec_path(@hypothec) %> |
<%= link_to 'Back', hypothecs_path %>
