<%= simple_form_for(@sale_register) do |f| %>
  <% if @sale_register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_register.errors.count, "error") %> prohibited this sale_register from being saved:</h2>

      <ul>
      <% @sale_register.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :buy_date, :as => :date, :start_year => Date.today.year - 10,
				:end_year => Date.today.year,:order => [:day, :month, :year] %>
    <%= f.input :value %>
 	<%= f.association :seller, :include_blank => false %>
    <%= f.button :submit %>
<% end %>
