<%= simple_form_for (@vehicle) do |f|  %>
	<% if @vehicle.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

	      <ul>
	      <% @vehicle.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
	<div class="field_vehicle">
	<div class="field">
	  	<%= f.input :name, :label => "Number Plate", :input_html => { :style => "width: 100px;"},:required => false	%>
		<div><%= f.input :vehicle_type,:collection => Vehicle::TYPE, :required => false, :error => false, :prompt => "Select" %></div>
		<%= f.input :mark, :required => false, :error => false  %>
	  	<%= f.input :model, :required => false, :error => false %>
	  	<%= f.input :frame_number, :required => false, :error => false %>
	  	<%= f.input :engine_number, :required => false, :error => false %>
		<b>  	
			<%= f.input :cylinders, :required => false, :error => false, :input_html => { :style => "width: 60px;"} %>
			<%= f.input :cylinders_cc, :required => false, :error => false, :input_html => { :style => "width: 100px;"} %>
	  		<%= f.input :petrol, :collection => Vehicle::PETROL, :prompt => "Select", :required => false, :error => false %>
	  		<%= f.input :transmission, :collection => Vehicle::TRANS, :prompt => "Select", :required => false, :error => false %>
		</b>  	
		<%= f.input :pneumatic_measures, :required => false, :error => false, :input_html => { :style => "width: 150px;"} %>
	  	<%= f.input :gross_weight, :required => false, :error => false, :input_html => { :style => "width: 80px;"} %>
	  	<%= f.input :tare, :required => false, :error => false, :input_html => { :style => "width: 80px;"} %>
	  	<%= f.input :stocking, :required => false, :error => false, :input_html => { :style => "width: 80px;"} %>
	  	<%= f.input :color, :required => false, :error => false %>
	  	<%= f.input :service, :required => false, :error => false %>
	</div>
	</div>
	<hr/>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
