<table>
	<tr>
		<th><%= t(:name, :scope => "vehicles.show") %></th>
		<th><%= t(:vehicle_type, :scope => "vehicles.show") %></th>
		<th><%= t(:mark, :scope => "vehicles.show") %></th>
		<th><%= t(:model, :scope => "vehicles.show") %></th>
		<th><%= t(:frame_number, :scope => "vehicles.show") %></th>
		<th><%= t(:engine_number, :scope => "vehicles.show") %></th>
		<th><%= t(:cylinders, :scope => "vehicles.show") %></th>	
		<th><%= t(:cylinders_cc, :scope => "vehicles.show") %></th>	
	</tr>
	<% @vehicles.each do |vehicle| %>
		<tr>
			<td onclick="location.href='<%=vehicle_path(vehicle)%>'"><%= vehicle.name %></td>
			<td><%= vehicle.mark %></td>
			<td><%= vehicle.vehicle_type %></td>
			<td><%= vehicle.model %></td>
			<td><%= vehicle.frame_number %></td>
			<td><%= vehicle.engine_number %></td>
			<td><%= vehicle.cylinders %></td>
			<td><%= vehicle.cylinders_cc %></td>
		</tr>
	<% end %>
</table>
