<%- title "Vehicles" -%>
<h1>Listing Vehicles</h1>
<div class='nav'><%= link_to "New vehicle", new_vehicle_path %></div>
<table>
	<tr>
		<th>Number plate</th>
		<th>Mark</th>
		<th>Model</th>
		<th>Engine Number</th>
		<th>Cylinders</th>
		<th>Cylinders Size</th>	
	</tr>
	<% @vehicles.each do |vehicle| %>
		<tr>
			<td onclick="location.href='vehicles/<%=vehicle.id%>'"><%= vehicle.name %></td>
			<td><%= vehicle.mark %></td>
			<td><%= vehicle.model %></td>
			<td><%= vehicle.engine_number %></td>
			<td><%= vehicle.cylinders %></td>
			<td><%= vehicle.cylinders_cc %></td>
			<td class='links'><%= link_to image_tag('edit.gif', :alt=> "Edit"), edit_vehicle_path(vehicle)  %></td>
			<td class='links'><%= link_to image_tag('del.gif', :alt=> "Delete"), vehicle, :confirm => "Are you sure", :method => :delete %></td>
		</tr>
	<% end %>
</table>

<div class='paginate'><%= will_paginate @vehicles %></div>