<%- title "Vehicles" -%>

<h1><%= t(".title") %></h1>

<div class='search_field'>
  <%= form_tag vehicles_path, :method => 'get', :id => "search" do %>
	 <%= text_field_tag :search, params[:search], :placeholder => t(:search), :autocomplete => :off,  :id => "field_search"%>
	 <%= submit_tag t(:search), :search => nil %>
  <% end %>
</div>

<div id='vehicles'><%= render 'vehicles' %></div>

<div class='paginate'><%= will_paginate @vehicles %></div>