<p id="notice"><%= notice %></p>

<div class="process_register_layout">
	<p class='id'>
	  <b><%= t(:name, :scope => "vehicles.show") %>:</b>
	  <%= @vehicle.name %>
	</p>
	<div class='details'>	
	  <% unless @vehicle.proprietary.nil? %>
		<p>
		  <b><%= t(:nuit_and_name, :scope => "vehicles.show") %>:</b>
		 <label><%= @vehicle.proprietary.nuit %></label> -
		 <label><%= @vehicle.proprietary.name %></label>
		</p>
	  <% end %>
		<p>
		  <b><%= t(:mark, :scope => "vehicles.show") %>/<%= t(:model, :scope => "vehicles.show") %>:</b>
		 <label><%= @vehicle.mark %></label> / 
		 <label><%= @vehicle.model %></label>
		</p>
		<p>
		  <b><%= t(:frame_engine_number, :scope => "vehicles.show") %>:</b>
		  <label><%= @vehicle.frame_number %></label> / 
		  <label><%= @vehicle.engine_number %></label>
		</p>
		<p>
		  <b><%= t(:cylinders_cylinders_cc, :scope => "vehicles.show") %>:</b>
		 <label><%= @vehicle.cylinders %></label> / 
		 <label><%= @vehicle.cylinders_cc %> cc</label>
		</p>
		<p>
		  <b><%= t(:petrol, :scope => "vehicles.show") %>:</b>
		  <label><%= @vehicle.petrol %></label>
		</p>
		<p>
		  <b><%= t(:transmission, :scope => "vehicles.show") %>:</b>
		  <label><%= @vehicle.transmission %></label>
		</p>
		<p>
		  <b><%= t(:pneumatic_measures, :scope => "vehicles.show") %>:</b>
		  <label><%= @vehicle.pneumatic_measures %></label>
		</p>
		<p>
		  <b><%= t(:gross_weight_tare, :scope => "vehicles.show") %>:</b>
		  <label><%= @vehicle.gross_weight %></label> / 
		  <label><%= @vehicle.tare %></label>
		</p>
		<p>
		  <b><%= t(:stocking, :scope => "vehicles.show") %>:</b>
		  <label><%= @vehicle.stocking %></label>
		</p>
		<p>
		  <b><%= t(:color, :scope => "vehicles.show") %>:</b>
		  <label><%= @vehicle.color %></label>
		</p>
		<p>
		  <b><%= t(:service, :scope => "vehicles.show") %>:</b>
		  <label><%= @vehicle.service %></label>
		</p>
		<p>
		  <b><%= t(:created_at, :scope => "vehicles") %>:</b>
		  <label><%= l(@vehicle.created_at) %></label>
		</p>
	</div>
</div>
<div class="edit_menu">
	<ul>
		<% if can? :update, @vehicle %>
		 <li><%= link_to t(:edit), edit_vehicle_path(@vehicle) %></li> 
		<% end %>
		 <li><%= link_to t(:back), vehicles_path %></li> 
	</ul>
</div>