<!DOCTYPE html>
<html>
<head>
  <title>Regiauto <%= yield :title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "jquery.tokeninput", "cocoon" %>
  <%= csrf_meta_tag %>
</head>
<body>
 <div class="head">
 	<label class="lbs">Registo Automóvel</label>
 </div>
<div class="conteiner">	
	<div class="navigation">
	  <ul class="orderedList">
		<li><%= link_to "Home", home_index_path %></li>
	    <li><%= link_to "Process", process_registers_path %></li>
		<li><%= link_to "Book Registers", books_path %></li>
		<li><%= link_to "Proprietaries", proprietaries_path %></li>
		<li><%= link_to "Vehicles", vehicles_path %></li>
	  </ul>
	</div>
	<div class="content">
		<div class="products">	
			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
